.banner {
    width: 100%;
    overflow: auto;
    position: relative;
    color: white;
    font-family: serif;
    background-color: black;
}

.banner_title {
    font-family: fantasy;
    float: left;
    padding: 0px 0px 0px 16px;
    font-size: 36px;
    text-decoration: none;
}

.banner_options {
    font-size: 18px;
    float: right;
    padding: 16px 26px 0px 0px;
    color: white;
}

.page_body {
    min-height: 850px;
    border-bottom: 1px solid #888888;
    padding: 30px 0px 50px 0px;
    background-image: url(../images/map.jpg);
    background-color: royalblue;
}

.button{
    background-color: black; 
    border-color: rgba(0,0,0,0.3); 
    text-shadow: 0 1px 0 rgba(0,0,0,0.5); 
    color: white; 
    width:200px; 
    height:50px;
    border-radius: 11px;
    font-weight: bolder;
    font-size:12px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

h3{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-left: 50px;
}

h2{
    font-weight: bold;
}

.sticker{
    padding: 10px 0px 10px 0px;
    width: 700px; 
    min-height:600px; 
    margin-top: 10%; 
    background-color: whitesmoke; 
    margin-left: 0px; 
    opacity: 0.93;
    text-align: center;
}

.landingpage{
    width:700px; 
    height:600px; 
    margin-top: 10%; 
    margin-left: 0px; 
    text-align: center;
    font-weight: bolder;
}

.input_table_container {
    width: auto;
    margin: auto;
    padding: 0 100px 0 0;
}

.input_table {
    padding: 1px 5px;
    text-align: center;
    margin: auto;
}

.input_table .label {
    text-align: right !important;
}

.input_textarea {
    resize: none;
    height: 76px;
}

.input_button {
    margin: auto;
}

input[type=text], input[type="password"],select, .input_textarea {
    width: 100%;
    padding: 2px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid seagreen;
    border-radius: 7px;
    box-sizing: border-box;
}

/*
input[type=text]:focus {
    border-color: seagreen;
}*/
/*
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}*/

.tooltip{
    
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #ccc;
    color: #006080;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-right{
    top:6px;
    left:110%;
}

.tooltip-right::after{
   content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;  
}

/* Show the tooltip text when you mouse over the tooltip container */
 .tooltip:hover .tooltiptext  {
    visibility: visible;
    opacity: 1;
}